In [22]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv('/Users/thibaultdanel/Downloads/full.csv')
df.info()

/Users/thibaultdanel/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (8,10,12,14,16,17,18,20,22,26,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3334147 entries, 0 to 3334146
Data columns (total 40 columns):
 #   Column                        Dtype
---  ------                        -----
 0   id_mutation                   object
 1   date_mutation                 object
 2   numero_disposition            int64
 3   nature_mutation               object
 4   valeur_fonciere               float64
 5   adresse_numero                float64
 6   adresse_suffixe               object
 7   adresse_nom_voie              object
 8   adresse_code_voie             object
 9   code_postal                   float64
 10  code_commune                  object
 11  nom_commune                   object
 12  code_departement              object
 13  ancien_code_commune           float64
 14  ancien_nom_commune            object
 15  id_parcelle                   object
 16  ancien_id_parcelle            object
 17  numero_volume                 object
 18  lot1_numero                   object
 19  lot1_surface_carrez           float64
 20  lot2_numero                   object
 21  lot2_surface_carrez           float64
 22  lot3_numero                   object
 23  lot3_surface_carrez           float64
 24  lot4_numero                   float64
 25  lot4_surface_carrez           float64
 26  lot5_numero                   object
 27  lot5_surface_carrez           float64
 28  nombre_lots                   int64
 29  code_type_local               float64
 30  type_local                    object
 31  surface_reelle_bati           float64
 32  nombre_pieces_principales     float64
 33  code_nature_culture           object
 34  nature_culture                object
 35  code_nature_culture_speciale  object
 36  nature_culture_speciale       object
 37  surface_terrain               float64
 38  longitude                     float64
 39  latitude                      float64
dtypes: float64(16), int64(2), object(22)
memory usage: 1017.5+ MB

In [27]:
df_clean = df[['type_local','code_departement','adresse_nom_voie', 'code_postal','nom_commune' ]]
df_clean['code_postal'] = df_clean['code_postal'].replace(np.nan, '0000')
df_clean['code_postal'] = df_clean['code_postal'].astype(int)
df_clean.loc[0:100]

/var/folders/77/c88_28012qx0xb53kvscmnm80000gn/T/ipykernel_18964/2130263593.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['code_postal'] = df_clean['code_postal'].replace(np.nan, '0000')
/var/folders/77/c88_28012qx0xb53kvscmnm80000gn/T/ipykernel_18964/2130263593.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['code_postal'] = df_clean['code_postal'].astype(int)

,type_local,code_departement,adresse_nom_voie,code_postal,nom_commune
0,Dépendance,1,RUE GEN LOGEROT,1000,Bourg-en-Bresse
1,Appartement,1,RUE GEN LOGEROT,1000,Bourg-en-Bresse
2,Maison,1,RUE DE LA BARMETTE,1250,Nivigne et Suran
3,Maison,1,RUE DE LA BARMETTE,1250,Nivigne et Suran
4,Maison,1,RUE DE LA BARMETTE,1250,Nivigne et Suran
...,...,...,...,...,...
96,NaN,1,SAINT AMOUZE,1250,Montagnat
97,NaN,1,SAINT AMOUZE,1250,Montagnat
98,NaN,1,SAINT AMOUZE,1250,Montagnat
99,NaN,1,SAINT AMOUZE,1250,Montagnat
100,NaN,1,SAINT AMOUZE,1250,Montagnat